.fakeimg {
    width:200px ;
	height:200px;
	background-size: cover;
    background: #aaa;
    border-radius: 50%;
    
  }
  html
  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .fondoI
  {
            background-image: url("../Images/fondoveteri.jpg");
			background-size: cover;
          
  }
