 .nombre_u
		{	
			text-align: center;
			height:300px;
			padding:30px;
			background-image: url("../Images/fondoousuario.jpeg");
			background-size: cover;
            border-radius:10px;
		}
		.avatar_u
		{
			width:180px ;
			height:180px;
			border-radius: 50%;
		}
		.user_n
		{
			font-size:20px;
			margin-top:14px ;
		}
		.social_lista
		{
			list-style: none;
			text-align: center;
			padding: 0;
            font-size:18px;
		}
		.social_lista li
		{
			display:inline-block;
			margin:5px;

		}
		/* cambiar de color los hipervinculos */
		a
		{
			text-decoration: none;
			color:red;
		}
		a:hover
		{
			color:black;
		}
		.ico
		{
			width:16px;
			height: 16px;
			display:inline-block; 
			background-size: cover;
		}
		/* iconos */
		.correo
		{
			background-image: url("");
		}
		.documento
		{
			background-image: url("");
		}
		.telfono
		{
			background-image: url("");
		}
		.direccion
		{
			background-image: url("");
		}
		.infromacion
		{
			padding: 18px;
		}
		.infromacion h3
		{
			color:;
			font-size: 30px;
		}
		.infromacion p
		{
			color: ;
			font-size: 18px;
		}

        contenedor_u
        {
            text-align: center;
			height:300px; 
        }
.tabla-mascotas {
	font-size: 16px;
	font-weight: 600;
	color: black;
	height: 50px;
	justify-content:center;
	text-align: center;
	border-color: black;
	position: relative;
	margin-left: 30px;
	margin-bottom: 10px;
}
.boton-regresar {
	width: 160px;
	height: 50px;
	left: 320px;
	top: 1010px;
	position: absolute;
	background-color: #9E1736;
	border-color: #9A8F91;
	text-shadow: 0px -2px black;
	padding: 5px 20px;
	border-radius: 25px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 15px;
	color: #fff;
}