body {
}

.fakeimg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #aaa;
    background-size: cover;
}

.html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fondo {
    background-image: url("../Images/fondoverdetallesusu.PNG");
   
}

.color {
    color: black;
    font-weight:bold;
}
.foto {
    width: 200px;
    height: 200px;
    border-radius: 150px;
}
.boton-regresar {
    width: 160px;
    height: 50px;
    left: 320px;
    
    position: absolute;
    background-color: #9E1736;
    border-color: #9A8F91;
    text-shadow: 0px -2px black;
    padding: 5px 20px;
    border-radius: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #fff;
}

